:root {
  --main-bg: #f2f5f6;          
  --main-text: #2f3d42;        
  --accent: #24a4b9;           
  --accent-dark: #107486;       
  --light-box: #ffffff;         
  --border-color: #d3d8db;     
}


body {
  background-color: var(--main-bg);

  color: var(--main-text);
  font-family: 'Tajawal', sans-serif;
  text-align: center;
  direction: rtl;
  padding: 20px;
}

#logo {
  width: 140px;
  margin: 10px auto 20px;
  display: block;
}

h1, h2, h3 {
  color: var(--accent-dark);
  font-weight: 700;
  margin-top: 10px;
}

button {
  background-color: var(--accent);
  color: #000;
  border: none;
  padding: 12px 28px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  font-family: 'Tajawal', sans-serif;
}

button:hover {
  background-color: var(--accent-dark);
}

#uploadBox {
  margin: 50px auto;
  padding: 30px;
  width: 80%;
  max-width: 500px;
  background-color: var(--light-box);
  border: 2px solid var(--border-color);
  border-radius: 16px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
}

#uploadBox h2 {
  font-size: 22px;
  margin-bottom: 15px;
  color: var(--main-text);
}

input[type="file"] {
  margin: 12px 0;
  font-size: 14px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  color: #000;
}

#uploadForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#result {
  margin-top: 30px;
  font-size: 18px;
  text-align: center;
  direction: rtl;
  color: var(--main-text);
  padding-top: 10px;
  border-top: 1px dashed var(--accent);
}

#result ul {
  padding: 0;
  list-style-type: none;
}

#result li {
  padding: 6px 0;
  font-size: 16px;
  color: #333;
}

#videoContainer {
  margin: 40px auto;
  padding: 20px;
  width: fit-content; /* المحتوى يحدد الحجم */
  background-color: var(--light-box);
  border: 2px solid var(--border-color);
  border-radius: 16px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  align-items: center;
}

video {
  width: 00px;    /* 👈 العرض */
  height: 300px;   /* 👈 الطول أكبر شوي */
  border-radius: 12px;
  border: 1px solid #ccc;
  object-fit: cover; /* يخلي الفيديو يغطي بدون تشويه */
}



#captions {
  background-color: var(--light-box);
  border: 1px solid var(--border-color);
  border-radius: 14px;
  padding: 20px;
  margin: 30px auto;
  max-width: 600px;
  color: var(--main-text);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

#captionAR {
  font-size: 20px;
  color: var(--accent-dark);
}

audio {
  margin-top: 15px;
}
